body {
  background-color: #fafafa;  
  font: 100% "Noto Sans", sans-serif, Helvetica;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  perspective: 600px;
}
.card {
  border-radius: 7px;
  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 150px;
  background-color: #1e1e1e;  

  transition: transform 1s;
  transform-style: preserve-3d;  
  position: relative;
  /*

  */
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card_face {  
  position: absolute;
  /*width: 90%;  */
  backface-visibility: hidden;
}
.front{
  
}
.back{  
  transform: rotateY( 180deg );
  text-align: left;
}
/*
*/
.title{
  color: #f5f5f5;
  font-size: 1.8em;
}
.subtitle{
  color: #d4d4d4;
  font-size: 1.0em;
}
hr{
  border-color: #569cd6;  
}
.icons{
  text-align: center;
}
.icons i {
  color: #569cd6;
  font-size: 1.5em;
  margin: 0.3em 0.2em;
}
.shadow{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.action{
  text-align: right;
}
.action a{
  text-decoration: none;
  color: #569cd6;
}
.contact{
  color: #f5f5f5;
  font-size: 0.87em;
}
.class{
  color: #569CD6;
}
.name{
  color: #4EC9B0;
}
.var{
  color: #9CDCFE;
}
.string{
  color: #CE9178;
}
.action_class{
  text-align: left;
}
.action_class a{  
  text-decoration: none;
  color: #569cd6;
}
.padding{
  padding-left: 1em;
}
/*
@media only screen and (min-width: 320px) {
  
}
*/
@media only screen and (min-width: 375px) {
  .title {
    font-size: 32px;
  }
  .subtitle{    
    font-size: 1.2em;
  }
  .card {
    width: 300px;
  }
  .contact{
    font-size: 1em;
  }
}
